In [1]:
10 % 3

1

In [7]:
def is_even(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    result = a % 2
    if result == 1:
        return False
    else:
        return True

        
is_even(10)

True

In [8]:
is_even(11)

False

In [10]:
def is_even_2(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    if a % 2 == 1:
        return False
    else:
        return True

        
print(is_even_2(10))
print(is_even_2(11))

True
False

In [12]:
def is_even_3(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    if a % 2 == 0:
        return True
        
    return False
        
print(is_even_3(10))
print(is_even_3(11))

True
False

In [13]:
11 % 2 == 0

False

In [15]:
def is_even_4(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    return (a % 2 == 0)  # return True if the result is 0, otherwise returns False
        
print(is_even_4(10))
print(is_even_4(11))

True
False

In [16]:
2 ** 10

1024

In [17]:
2 ** (3.5)

11.313708498984761

In [18]:
2 ** (-3.5)

0.08838834764831845

In [19]:
11 / 3

3.6666666666666665

In [21]:
11 // 3 # we get just the integer part of the division

3

In [22]:
int(11/3)

3

In [26]:
a = 10
b = 5

a += b   # we want to sum b to a and change a
# equivalent to "a = a+b"

a

15

In [27]:
 a == b   # a = 15, b = 5

False

In [28]:
a != b  # a is 15, while b is 5

True

In [29]:
a = 10
b = 5
c = 0
d = -10

In [30]:
a,b,c,d

(10, 5, 0, -10)

In [31]:
a > b and c > d # this is an expression a>b -> True, c->d -> True, True and True -> True

True

In [32]:
a < b and c > d or a >b and c < d
# False and True or True and False
# False or False
# RESULT = False

False

In [33]:
a < b and c > d or a > b or c < d
False and True or True or False
False          or True or False
True                   or False

True

In [35]:
a < b and (c > d or a > b) or c < d

False

In [36]:
a < b and c > d or not a > b or c < d

False

In [42]:
#s = "I have to fix my sink"
s = 'I have to fix my sink'   # è la stessa cosa " o '
s

'I have to fix my sink'

In [43]:
s = "My wife told me: "you have to fix our sink!""

SyntaxError: invalid syntax (225513109.py, line 1)

In [44]:
s = 'My wife told me: "you have to fix our sink!"'
s

'My wife told me: "you have to fix our sink!"'

In [46]:
s2 = " these are the results:
-Mike:3
-Elisa: 10
"

SyntaxError: unterminated string literal (detected at line 1) (4217493943.py, line 1)

In [47]:
s2 = """ these are the results:
-Mike:3
-Elisa: 10
"""

In [48]:
# + non è solo aritmetic operator, ma anche concatenation

In [49]:
s3 = "Today is a nice day!"
s3

'Today is a nice day!'

In [50]:
s3[:10] # first ten characters

'Today is a'

In [51]:
s3[-10:]  # last ten characters (included space)

' nice day!'

In [53]:
s3[4:6] # 4 to 6 excluse the sixth character
# excluding the 6th character

'y '

In [54]:
s3[2:6:2]

'dy'

In [55]:
s3

'Today is a nice day!'

In [56]:
s3.upper()

'TODAY IS A NICE DAY!'

In [57]:
s3.find("nice")  # le stringhe partono da zero! la n di nice è l'undicesimo carattere

11

In [58]:
s3.replace("nice","bad")

'Today is a bad day!'

In [59]:
s3.replace("nice","bad".upper())

'Today is a BAD day!'

In [67]:
name = "Angela"
print(name)
print("Hello " + name) # c'è uno spazio dopo Hello!
print("Hello {name}!")
print(f"Hello {name}!")
print(f"Hello\n{name}!")

Angela
Hello Angela
Hello {name}!
Hello Angela!
Hello
Angela!