In [12]:
if 10 > 50:
    print("Ten is bigger than five")
else:
    print("it's lower")
    
print("Today is sunny")

it's lower
Today is sunny

In [16]:
if 10 > 5:
    print("Ten is bigger than five")
else:
    print("it's lower")
    
print("Today is sunny")

Ten is bigger than five
Today is sunny

In [17]:
def sum(a,b):
    """
    This function receives two values taht are summed together
    """
    result = a+b # a is added to b and associated with "result"
    return result # we return the "result" variable

In [18]:
sum(10,20)

30

In [19]:
sum("Mike", "Elisa")

'MikeElisa'

In [20]:
sum("Mike", 50)

TypeError: can only concatenate str (not "int") to str

In [21]:
"Mike" * 100

'MikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMikeMike'

In [22]:
age = 30

In [23]:
Age = 20

In [24]:
age

30

In [25]:
Age

20

In [26]:
building1 = "Church" # se lo cancello con l'ultimo simbolo di questa riga, building1 esiste ancora

In [30]:
building1_name = "Church" # snake syntax
building1Name = "Church" # camel syntax
building1_height = 100

building2_name = "Stadium"
building2_height = 200

building3_name = "Igloo"
building3_height = 1

In [31]:
print(building4_name)
build

NameError: name 'building4_name' is not defined

In [32]:
age = 40.5

In [35]:
student_name = Maria

NameError: name 'Maria' is not defined

In [38]:
student_name = "Maria"
print(student_name)
print(student_name+student_name)

Maria
MariaMaria

In [40]:
type(student_name)
type(age)

float

In [41]:
dangerous = True

In [43]:
type(dangerous)

bool

In [44]:
type(3>5)

bool

In [45]:
d = str(dangerous)

In [46]:
type(d)

str

In [47]:
d

'True'

In [51]:
s = "20A"

In [52]:
s+s

'20A20A'

In [53]:
int(s)+int(s)

ValueError: invalid literal for int() with base 10: '20A'

In [54]:
a = 10
b = "Julie"
c = True
d = 3.5

In [55]:
type(d)

float

In [56]:
float(a)

10.0

In [57]:
type(float(a))

float