# Lists

In [2]:
print(1, "Salim", 2, 3)

1 Salim 2 3

In [13]:

my_list1 = [1,2,3,4,5,6,7,8,9]
my_list1.append(500)
my_list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 500]

In [20]:
type([5])

list

In [30]:
def substraction(a,b):
    return a -b

# substraction(10,3)
# substraction(3,10)
# substraction(b = 3, a = 10)
substraction(a = 10, b = 3)

7

In [24]:
def insert_at_a(l, position, e):
    left_part = l[:position] # this is a list
    left_part.append(e)  # this is a list
    right_part = l[position:] # this is a list
    return left_part + right_part


def insert_at_b(l, position, e):
   
    return l[:position] + [e] + l[position:]



my_list1 = [1,2,3,4,5,6,7,8,9]
insert_at_b(my_list1, 5, 9999)

my_list1.insert(index = 5,item = 9999)
my_list1

TypeError: list.insert() takes no keyword arguments

In [23]:
dir(my_list1.insert)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [11]:
my_list = [1, 2, 3, "python", 4, 5]
print("List sample", my_list)
print("Second element of the list", my_list[1])
my_list[1] = 20 # I can append an element to this list
my_list.append(True)
print("List sample", my_list)
my_list.remove(my_list[3])
print("List sample", my_list)
print("Left part of the list", my_list[:3])
print("Right part of the list", my_list[3:])
print("Concatenate the two lists", my_list[:3] + my_list[3:])

List sample [1, 2, 3, 'python', 4, 5]
Second element of the list 2
List sample [1, 20, 3, 'python', 4, 5, True]
List sample [1, 20, 3, 4, 5, True]
Left part of the list [1, 20, 3]
Right part of the list [4, 5, True]
Concatenate the two lists [1, 20, 3, 4, 5, True]

# Tuples

In [32]:
my_tuple = ("apple", "banana", "cherry")
type(my_tuple)

tuple

#my_tuple[0] = "orange" # forbidden
#my_tuple.appen("orange")  forbidden because they are immutable
my_tuple[0] # tuples are ordered

In [34]:
my_tuple.append("orange")

AttributeError: 'tuple' object has no attribute 'append'

# Dictionaries

In [36]:
my_dict = {"name": "Alice", "age":25, "location": "New York"}
my_dict

{'name': 'Alice', 'age': 25, 'location': 'New York'}

In [39]:
# my_dict[1] this is an error, because they are un-ordered

my_dict["country"] = "United States"
my_dict

{'name': 'Alice',
 'age': 25,
 'location': 'New York',
 'country': 'United States'}

In [40]:
my_dict["location"]

'New York'

In [42]:
my_dict["age"] = 35
my_dict

{'name': 'Alice',
 'age': 35,
 'location': 'New York',
 'country': 'United States'}

In [43]:
my_dict["tuple"] = my_tuple
my_dict

{'name': 'Alice',
 'age': 35,
 'location': 'New York',
 'country': 'United States',
 'tuple': ('apple', 'banana', 'cherry')}

In [44]:
print(my_dict["tuple"][1])

banana

# Sets

In [48]:
my_set = {1,2,3,4,5,6,5,3,4,7,8,1,1,1,1}
print(my_set)
# it eliminates the duplications
my_set.add(10) # just a single element!
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 10}

# Common functions

In [49]:
len(my_set)

9

In [50]:
len(my_tuple)

3

In [51]:
len(my_list)

6

In [52]:
len(my_dict)

5